Product/Zentity.VisualExplorer/ColorPicker/ColorPickerDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ColorPickerDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ColorPickerDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ColorPickerDataSource" type="tns:ColorPickerDataSource" />
  <xs:complexType name="ColorPickerDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Colors" name="Colors" type="xs:string" />
  </xs:complexType>
</xs:schema>