Product/Zentity.Pivot.CollectionCreator/Service References/PublishingProgressService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublishingProgressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPublishingProgressService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1"></msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256></sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict></sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing></wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublishingProgressService_ReportStart_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportStart" />
  </wsdl:message>
  <wsdl:message name="IPublishingProgressService_ReportProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportProgress" />
  </wsdl:message>
  <wsdl:message name="IPublishingProgressService_CancelOperation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CancelOperation" />
  </wsdl:message>
  <wsdl:portType name="IPublishingProgressService">
    <wsdl:operation name="ReportStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublishingProgressService/ReportStart" message="tns:IPublishingProgressService_ReportStart_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublishingProgressService/ReportProgress" message="tns:IPublishingProgressService_ReportProgress_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOperation">
      <wsdl:output wsaw:Action="http://tempuri.org/IPublishingProgressService/CancelOperation" message="tns:IPublishingProgressService_CancelOperation_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPublishingProgressService" type="tns:IPublishingProgressService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPublishingProgressService_policy"></wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReportStart">
      <soap12:operation soapAction="http://tempuri.org/IPublishingProgressService/ReportStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReportProgress">
      <soap12:operation soapAction="http://tempuri.org/IPublishingProgressService/ReportProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelOperation">
      <soap12:operation soapAction="http://tempuri.org/IPublishingProgressService/CancelOperation" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublishingProgressService">
    <wsdl:port name="NetTcpBinding_IPublishingProgressService" binding="tns:NetTcpBinding_IPublishingProgressService">
      <soap12:address location="net.tcp://localhost:9091/Pivot/PublishingProgressService" />
      <wsa10:EndpointReference>
        <wsa10:Address>
          net.tcp://localhost:9091/Pivot/PublishingProgressService
        </wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>
            v-masarc@redmond.corp.microsoft.com
          </Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>