Product/Zentity.VisualExplorer/Service References/VisualExplorerService/VisualExplorer3.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zentity.Services.Explorer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zentity.Services.Explorer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GuanxiUI" />
  <xs:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="VisualExplorerGraph">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuanxiUI" minOccurs="0" name="JSONGraph" nillable="true" type="q1:JSONGraph" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResourceMap" nillable="true" type="q2:ArrayOfKeyValueOfguidstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisualExplorerGraph" nillable="true" type="tns:VisualExplorerGraph" />
  <xs:complexType name="VisualExplorerFilterList">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelationShipTypes" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResourceTypes" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisualExplorerFilterList" nillable="true" type="tns:VisualExplorerFilterList" />
</xs:schema>