Product/Zentity.VisualExplorer/Service References/VisualExplorerService/VisualExplorer.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VisualExplorer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zentity.Services.Explorer" />
      <xsd:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GuanxiUI" />
      <xsd:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVisualExplorerService_GetVisualExplorerGraphBySearchKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualExplorerGraphBySearchKeyword" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetVisualExplorerGraphBySearchKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualExplorerGraphBySearchKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetVisualExplorerGraphByResourceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualExplorerGraphByResourceId" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetVisualExplorerGraphByResourceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualExplorerGraphByResourceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetResourceMetadataByResourceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceMetadataByResourceId" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetResourceMetadataByResourceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceMetadataByResourceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetResourceRelationByResourceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceRelationByResourceId" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetResourceRelationByResourceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceRelationByResourceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetResourcesByKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesByKeyword" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetResourcesByKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetVisualExplorerFilterList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualExplorerFilterList" />
  </wsdl:message>
  <wsdl:message name="IVisualExplorerService_GetVisualExplorerFilterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualExplorerFilterListResponse" />
  </wsdl:message>
  <wsdl:portType name="IVisualExplorerService">
    <wsdl:operation name="GetVisualExplorerGraphBySearchKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualExplorerService/GetVisualExplorerGraphBySearchKeyword" message="tns:IVisualExplorerService_GetVisualExplorerGraphBySearchKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualExplorerService/GetVisualExplorerGraphBySearchKeywordResponse" message="tns:IVisualExplorerService_GetVisualExplorerGraphBySearchKeyword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisualExplorerGraphByResourceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualExplorerService/GetVisualExplorerGraphByResourceId" message="tns:IVisualExplorerService_GetVisualExplorerGraphByResourceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualExplorerService/GetVisualExplorerGraphByResourceIdResponse" message="tns:IVisualExplorerService_GetVisualExplorerGraphByResourceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceMetadataByResourceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualExplorerService/GetResourceMetadataByResourceId" message="tns:IVisualExplorerService_GetResourceMetadataByResourceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualExplorerService/GetResourceMetadataByResourceIdResponse" message="tns:IVisualExplorerService_GetResourceMetadataByResourceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceRelationByResourceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualExplorerService/GetResourceRelationByResourceId" message="tns:IVisualExplorerService_GetResourceRelationByResourceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualExplorerService/GetResourceRelationByResourceIdResponse" message="tns:IVisualExplorerService_GetResourceRelationByResourceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourcesByKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualExplorerService/GetResourcesByKeyword" message="tns:IVisualExplorerService_GetResourcesByKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualExplorerService/GetResourcesByKeywordResponse" message="tns:IVisualExplorerService_GetResourcesByKeyword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisualExplorerFilterList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisualExplorerService/GetVisualExplorerFilterList" message="tns:IVisualExplorerService_GetVisualExplorerFilterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisualExplorerService/GetVisualExplorerFilterListResponse" message="tns:IVisualExplorerService_GetVisualExplorerFilterList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVisualExplorerService" type="tns:IVisualExplorerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVisualExplorerGraphBySearchKeyword">
      <soap:operation soapAction="http://tempuri.org/IVisualExplorerService/GetVisualExplorerGraphBySearchKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisualExplorerGraphByResourceId">
      <soap:operation soapAction="http://tempuri.org/IVisualExplorerService/GetVisualExplorerGraphByResourceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceMetadataByResourceId">
      <soap:operation soapAction="http://tempuri.org/IVisualExplorerService/GetResourceMetadataByResourceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceRelationByResourceId">
      <soap:operation soapAction="http://tempuri.org/IVisualExplorerService/GetResourceRelationByResourceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourcesByKeyword">
      <soap:operation soapAction="http://tempuri.org/IVisualExplorerService/GetResourcesByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisualExplorerFilterList">
      <soap:operation soapAction="http://tempuri.org/IVisualExplorerService/GetVisualExplorerFilterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VisualExplorer">
    <wsdl:port name="BasicHttpBinding_IVisualExplorerService" binding="tns:BasicHttpBinding_IVisualExplorerService">
      <soap:address location="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>