Product/Zentity.VisualExplorer/Service References/VisualExplorerService/VisualExplorer4.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuanxiUI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuanxiUI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/VisualExplorer/services/VisualExplorer.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="JSONGraph">
    <xs:sequence>
      <xs:element minOccurs="0" name="Edges" nillable="true" type="tns:ArrayOfEdge" />
      <xs:element minOccurs="0" name="Nodes" nillable="true" type="tns:ArrayOfNode" />
      <xs:element minOccurs="0" name="layout" type="xs:boolean" />
      <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JSONGraph" nillable="true" type="tns:JSONGraph" />
  <xs:complexType name="ArrayOfEdge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Edge" nillable="true" type="tns:Edge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEdge" nillable="true" type="tns:ArrayOfEdge" />
  <xs:complexType name="Edge">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsArrow" type="xs:boolean" />
      <xs:element minOccurs="0" name="Node1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Node2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Str" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Edge" nillable="true" type="tns:Edge" />
  <xs:complexType name="ArrayOfNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Node" nillable="true" type="tns:Node" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNode" nillable="true" type="tns:ArrayOfNode" />
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="BorderColor" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ClusterIds" nillable="true" type="q1:ArrayOfunsignedInt" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scale" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
</xs:schema>