Product/Zentity.Pivot.DeepZoomCreator/Service References/PublishingProgressService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" />
  <xs:element name="ReportStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="instanceId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" minOccurs="0" name="appType" type="q2:CreatorApplication" />
        <xs:element minOccurs="0" name="processId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="instanceId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" minOccurs="0" name="publishStage" type="q4:PublishStage" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" minOccurs="0" name="progressCounter" type="q5:ProgressCounter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>