Product/Zentity.Web.UI.Explorer/Service References/PublishingServiceReference/PublishingService53.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aditidt486:9090/Pivot/PublishingService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" />
  <xs:complexType name="ArrayOfKeyValueOfPublishStagedateTimedt8BEbLx">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfPublishStagedateTimedt8BEbLx">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zentity.Services.Web" name="Key" type="q1:PublishStage" />
            <xs:element name="Value" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfPublishStagedateTimedt8BEbLx" nillable="true" type="tns:ArrayOfKeyValueOfPublishStagedateTimedt8BEbLx" />
</xs:schema>